// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Raleway:400,400italic,700);

body {
	font-family: 'Raleway';

	p {
		font-size:18px; // 1em = 18px
	}

	.with-padding > .row {
		padding:1em;
	}
	.no-gutter > [class*='col-'] {
    	padding-right:0;
    	padding-left:0;
	}
	.fa-btn {
		margin-right: 6px;
	}

	.btn-xl {
		padding: 0.3em;
		font-size: 2em;
		border-radius: 8px;
	}

	.mpress-form-input {
		height:auto;

			input.form-control {
				border:0;
				background-color:transparent;
				font-size:2em;
				padding:0;
				height:auto;
				box-shadow:none;
			}
	}

	cite {
		color:#2F4858;
		font-weight:700;
		font-size:1.3em;
		line-height: 2em;
		font-family: 'Roboto';
	}
	img {
    	margin: auto;
    	max-width:100%;
    }

    ::selection {
    	background-color: #e89980;
    	color: #FFFFFF;
    }
}


